* {
  box-sizing: border-box;
}
body {
  background-color: #621402;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.container {
  max-width: 1170px;
  margin: auto;
}

.header {
  height: 100vh;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    url("../img/bg.jpg") no-repeat center top / cover;
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding-left: 57px;
}
.menu-item {
  margin-right: 25px;
}
.menu-link {
  color: #fff;
  text-decoration: none;
}
.user {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #fff;
}
.avatar {
  margin-left: 11px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.film {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.film-info {
  color: #fff;
}
.film-small-title {
  font-size: 24px;
  line-height: 150%;
  opacity: 0.5;
}
.film-title {
  font-size: 36px;
  line-height: 42px;
  margin-top: 11px;
  margin-bottom: 23px;
}
.film-description {
  font-size: 16px;
  line-height: 150%;
  max-width: 560px;
}
.film-trailer {
  margin: auto;
}

.film-details {
  display: flex;
  align-items: center;
  margin-top: 47px;
}
.film-clock {
  display: flex;
  align-items: center;
}
.film-rating {
  display: flex;
  align-items: center;
  margin-left: 34px;
}
.film-rating-current {
  font-size: 24px;
  line-height: 150%;
}
.film-time-icon,
.film-rating-icon {
  margin-right: 14px;
}

.session {
  margin-top: 67px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 46px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.session-block {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.session-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid #ffffff80;
  border-radius: 5px;
  margin-right: 15px;
  width: 90px;
  height: 90px;
  cursor: pointer;
  transition: background-color 0.2s;
  /* padding-left: 27px;
  padding-right: 27px; */
}
.session-item:hover {
  background-color: #fe8e05;
  color: #621402;
}
.session-month {
  font-size: 16px;
  line-height: 19px;
}
.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}
.session-week {
  font-size: 19px;
  line-height: 22px;
}
.session-cinema {
}
.select {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  padding: 18px;
  margin-top: 33px;
  display: block;
  outline: none;
}
.select-cinema {
  width: 470px;
}
.session-cinema,
.session-time {
  /* display: flex;
  flex-direction: column; */
}
.select option {
  color: #621402;
}

.choose {
  margin-top: 63px;
}
